@page "/basic-crime"
@using BlazorWebApp.Components.Pages.Comps
@using BlazorWebApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@using SpostatoBL.Helper
@using SpostatoBL.Enum
@using SpostatoDAL.Models
@using System.Security.Claims

<h2>Basis Misdaden</h2>

@if (currentGangster == null)
{
    <p>Loading...</p>
}
else
{
    <div class="crime-buttons">
        <RadzenButton Text="Oefen met schieten op de schietbaan"
                      Click="@(() => CommitCrime(BasicCrimeType.ShootingRange))"
                      ButtonStyle="ButtonStyle.Primary"
                      Class="m-2"
                      Disabled="@(currentGangster.InPrisonUntill > DateTime.Now)" />
        <RadzenButton Text="Beroof een bejaarde"
                      Click="@(() => CommitCrime(BasicCrimeType.RobGrandma))"
                      ButtonStyle="ButtonStyle.Primary"
                      Class="m-2"
                      Disabled="@(currentGangster.InPrisonUntill > DateTime.Now)" />
        <RadzenButton Text="Overval een juwelier"
                      Click="@(() => CommitCrime(BasicCrimeType.RobJuwelryStore))"
                      ButtonStyle="ButtonStyle.Primary"
                      Class="m-2"
                      Disabled="@(currentGangster.InPrisonUntill > DateTime.Now)" />
    </div>

    <PrisonOverlay Gangster="currentGangster"></PrisonOverlay>
}
